/************
common
*************/
body{
    font-family: "monospace",sans-serif;
}
.font-primary{
    color:#00abea;
    font-size:larger;
}
.tittle-icon{
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 14px;
}
h2{
    font-size:bold ;
    font-weight: 23px;
    margin-bottom:20 ;



}

a.font-black{
    color: #000!important;
}
/**********
About
***********/
#about{
    margin: 60px auto;
    max-width: 400px;
    text-align: center;


}
#about img{
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}
#about .name{
 font-size: 19px;
}
#about .Vocation{
    font-size: 17px;
    color: #ABABAB;
    margin-bottom: 10px;
}
#about .skills{
    font-size: 14px;
    color: #00AbEA;
    margin-bottom: 10px;
}
#about .email{
    margin-top: 14px;
    font-size: 14px;
}
#about .icon{
    margin-top: 20px;
    font-size: 30px;
}
#about .icon a{
    color: #000;
}
/***********
project
************/
#project{
    margin: 60px auto;
    width: 80%;
}
#project h2{
    text-align: center;
}
#project .card img{
    width: 100%;
}
#project .card-tittle{
    font-weight: bold;
}